<h2>Slaves:</h2>

<table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
        <td>Id</td>
        <td>State Status</td>
        <td>Websocket status</td>
        <td>Last working</td>
        <td>current hash</td>
    </tr>
    </thead>
    
    <tbody>
    @if (ViewData["slaves"] is Dictionary<string, string>[] slaves)
    {
        foreach (var slave in slaves)
        {
            <tr>
                <td>@slave["id"]</td>
                <td>@slave["status"]</td>
                <td>@slave["webSocketState"]</td>
                <td>@slave["lastWork"]</td>
                <td>@slave["hashInWorking"]</td>
            </tr>
        }
    }
    </tbody>
</table>

<p>Nb slave ready detected: @ViewData["ready"]</p>